{% extends 'layout.html' %}

{% block title %}
    Add Account 
{% endblock %}
{% block content %}
    <div class="container" style="padding: 40px;">
        <form method="POST" class="container col-md-6 offset-md-3 border border-1" style="padding: 20px;">
            {% csrf_token %}
            <div class="row" style="padding: 10px;">
                <h2 class="text-center">Add account</h2>
            </div>
            <div class="row">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        Please Fill Up All Fields
                    </div>
                {% endif %}
            </div>
                <div class="row" style="margin-top: 10px;">
                    <label  class="col-md-4 col-sm-5 col-form-label">First name: </label>
                    <div class="col-sm-8 col-md-8">
                        <input type="text" name="first_name" class="form-control lname" id="first_name" required>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label  class="col-md-4 col-sm-5 col-form-label">Last Name: </label>
                    <div class="col-sm-8 col-md-8">
                        <input type="text" name="last_name" class="form-control lname" id="last_name" required>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label  class="col-md-4 col-sm-5 col-form-label">Email: </label>
                    <div class="col-sm-8 col-md-8">
                        <input type="email" name="email" class="form-control lname" id="email" required>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label  class="col-md-4 col-sm-5 col-form-label">Username: </label>
                    <div class="col-sm-8 col-md-8">
                        <input type="text" name="username" class="form-control lname" id="username" required>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label  class="col-md-4 col-sm-5 col-form-label">Password: </label>
                    <div class="col-sm-8 col-md-8">
                        <input type="password" name="password" class="form-control lname" id="password" required>
                    </div>
                </div>
            <div class="row" style="margin-top: 10px;">
                <input type="submit" class = "btn btn-primary" value="Save"/>
            </div>
        </form>
    </div>
{% endblock %}